.group-item-box {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid var(--border-color-dark);
    border-radius: 10px;

    .title {
        margin-bottom: 20px;
    }
}

.dialog-content-wrapper {
    background-color: #fcfcfc;
    padding-top: 15px !important;
}