@import 'token/color';

// base font family
// $font-family-base: "Roboto", sans-serif;
$font-family-base: "Poppins", sans-serif;
$reset-rem-size: 16px;
$font-size-base: 0.7rem;

// bg color
$main-bg: #fcfcfc;
$bg-secondary: #e1f0ff;
$bg-color-3: #ffe2e5;
$bg-color-4: #f3f5f9;
$bg-color-5: #fafafa;
$bg-color-6: #f8f8f8;
$bg-color-7: #e9e9e9;

// main color
$white: #fff;
$black: #000;
$primary-color: #3699ff;
$primary-hover-color: #095cb2;
$primary-link-color: #0b75e2;
$primary-color-darker: #0172C0;
$primary-color-lighter: #8ac5ff;

// color for text
$primary-black: #212121;
$primary-gray: #b5b5c3;
$primary-error: #ff4743;
$primary-text-color: #717171;
$secondary-text-color: #7e8599;

$color-3: #303030;
$color-4: #3d3d3d;
$color-5: #80879a;
$color-6: #9EA3B3;

$icon-color: #99a1b7;

$border-color: #ededed;
$border-color-light: #f1f2f3;
$border-color-dark: #e5eaee;
$border-color-darker: #e4e4e4;
$border-color-secondary: #d2d2d2;
$border-color-3: #c4c4c4;

$highlight-color: #E24152;
$color-positive: #0bb783;
$color-warning: #DF7615;
$dark-green: #01a171;


// custom scroll width
$customScrollSize: 9px;


$cz-body-bg: #fbfafa;
$cz-login-bg : #fd912f;