.ec-container {
  --ec-container-bg-color: var(--white);
  --ec-container-padding: 20px;
  --ec-container-border-color: var(--border-color-dark);
  --ec-container-active-border-color: var(--color-4);
  --ec-container-child-box-gap: 16px;
  --ec-container-title-color: var(--color-4);
  --ec-container-title-gap: 14px;
  --ec-container-header-btn-icon-color: var(--color-7);
  --ec-container-hover-header-btn-icon-color: var(--primary-color);
  --ec-container-header-btn-text-color: var(--primary-black);
}