<section class="auth-page-wrapper position-relative d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 float-lg-left mt-2">
        <div class="card auth-card h-100 border-0 shadow-none d-none d-sm-block mb-0">
          <img src="assets/images/logo-details-info.svg" alt="login-img">
        </div>
      </div>
      <div class="col-lg-4 justify-content-center">
        <div class="login-card card mb-0">
          <div class="row g-0 align-items-center">
            <div class="col-xxl-11 mx-auto">
              <div class="card mb-0 border-0 shadow-none mb-0">
                <div class="card-body">
                  <div class="text-center mt-3">
                    <h5>Welcome</h5>
                    <p class="text-less-imp mt-2">Sign in to {{tenantTitle || 'continue'}}.</p>
                  </div>
                  <div class="p-2 mt-5">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                        <mat-form-field class="input-form-field input-flds field-pb-0">
                          <mat-label>User name</mat-label>
                          <input matInput formControlName="userName">
                        </mat-form-field>
                      </div>

                      <div class="form-group">
                        <mat-form-field class="input-form-field input-flds field-pb-0">
                          <mat-label>Password</mat-label>
                          <!-- <input matInput formControlName="password"  type="password"> -->
                          <input matInput #password [type]="hide ? 'password' : 'text'" name=""
                            formControlName="password">
                          <mat-icon class="password-show" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                            'visibility'}}</mat-icon>
                        </mat-form-field>
                      </div>
                      <div class="form-group d-flex justify-content-between align-items-center mb-4">
                        <div>
                          <mat-checkbox class="mat-check-box-field">Remember me</mat-checkbox>
                        </div>
                        <button type="button" class="cz-link-btn">Forgot Password</button>
                      </div>
                      <button class="ec-primary-btn w-100" type="submit">Login</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>