<div class="main-left-list-sec">
    <div class="list-sec-top-bar d-flex justify-content-between">
        <h1 class="font-section-title-medium" #entityNameText matTooltip={{sentenceCaseEntityName}}
            [matTooltipDisabled]="isTooltipDisabled(entityNameText)">{{sentenceCaseEntityName}}</h1>
        <button mat-button class="ec-primary-btn add-list-btn" (click)='addRecord()'>
            <span class="material-icons icon-btn">add</span>
            <div class="add-list-btn-text" #addListTextButton matTooltip="Add {{entityDisplayName}}"
                [matTooltipDisabled]="isTooltipDisabled(addListTextButton)">{{truncateText("Add " + entityDisplayName)}}
            </div>
        </button>
    </div>
    <div class="list-sec-search">
        <div class="search-wrapper">
            <div class="search-icon">
                <img src="assets/images/icons/search.svg" width="20" height="20" alt="search">
            </div>
            <div class="search-input">
                <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." (keydown.enter)="onEnterPressed()">
            </div>
            <div class="clear-filter" *ngIf="filterData?.length || searchTerm">
                <button type="button" mat-button class="ec-text-btn ec-text-btn-color-2"
                    (click)="clearAll();onSearch();">Clear
                    all</button>
            </div>
            <button class="filter-icon" (click)="showFilterPanel = !showFilterPanel">
                <img src="assets/images/icons/filter.svg" width="20" height="20" alt="filter">
            </button>
            <div class="filter-panel ec-custom-scroll" *ngIf="showFilterPanel">
                <div class="filter-data" *ngIf="filterData?.length || searchTerm">
                    <div class="filter-data-item" *ngIf="searchTerm">
                        <p class="filter-text">{{searchTerm}}</p>
                        <a href="javascript:void(0)" (click)="searchTerm='';onSearch();"><mat-icon
                                aria-label="Delete">close</mat-icon></a>
                    </div>
                    <div class="filter-data-item" *ngFor="let data of filterData">
                        <p class="filter-text">{{data.value}}</p>
                        <a href="javascript:void(0)" (click)="clearSpecificFilter(data.key)"><mat-icon
                                aria-label="Delete">close</mat-icon></a>
                    </div>
                </div>
                <form *ngIf="form && filterFields" [formGroup]="form" autocomplete="off" (ngSubmit)="onSearch()">
                    <div class="row">
                        <div class="form-group row-item-full col-md-{{(field.column && field.column > 0 && field.column <= 4) ? (field.column * 3) : 12}}"
                            *ngFor="let field of filterFields">
                            <ng-container [ngSwitch]="field.dataType.toLowerCase()">
                                <mat-form-field *ngSwitchDefault class="input-form-field" appearance="fill">
                                    <mat-label *ngIf="!field.icon">{{field.label}}</mat-label>
                                    <span *ngIf="field.icon" matTextPrefix matTooltip={{field.label}}>
                                        <i class="fas {{field.icon}} list-label-icon mr10"></i>
                                    </span>
                                    <input matInput [formControlName]="field.fieldName"
                                        placeholder="{{field.icon?field.label:''}}">
                                </mat-form-field>

                                <mat-form-field *ngSwitchCase="'numeric'" class="input-form-field" appearance="fill">
                                    <mat-label *ngIf="!field.icon">{{field.label}}</mat-label>
                                    <span *ngIf="field.icon" matTextPrefix matTooltip={{field.label}}>
                                        <i class="fas {{field.icon}} list-label-icon mr10"></i>
                                    </span>
                                    <input type="number" matInput [formControlName]="field.fieldName"
                                        onkeypress="return event.charCode >= 46 || (event.charCode >= 48 && event.charCode <= 57)"
                                        placeholder="{{field.icon?field.label:''}}">
                                </mat-form-field>

                                <!-- <mat-form-field *ngSwitchCase="'guid'" class="input-form-field" appearance="fill">
                                    <mat-label *ngIf="!field.icon">{{field.label}}</mat-label>
                                    <span *ngIf="field.icon" matTextPrefix matTooltip={{field.label}}>
                                        <i class="fas {{field.icon}} list-label-icon mr10"></i>
                                    </span>
                                    <mat-select [formControlName]="field.fieldName" placeholder="Select">
                                        <mat-option [value]="null">Select</mat-option>
                                        <mat-option *ngFor="let option of fieldOptions[field.fieldName]"
                                            [value]="option.value">
                                            {{option.text}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->

                                <mat-form-field *ngSwitchCase="'guid'" class="input-form-field input-flds field-pb-0">
                                    <mat-label *ngIf="!field.icon">{{field.label}}</mat-label>
                                    <span *ngIf="field.icon" matTextPrefix matTooltip={{field.label}}>
                                        <i class="fas {{field.icon}} list-label-icon mr10"></i>
                                    </span>
                                    <mat-select [formControlName]="field.fieldName" placeholder="Select">
                                        <mat-option>
                                            <ngx-mat-select-search [formControlName]="field.fieldName+'_search'"
                                                placeholderLabel="Search"
                                                noEntriesFoundLabel="No data found"></ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option [value]="null">Select</mat-option>
                                        <mat-option *ngFor="let option of fieldOptions[field.fieldName]"
                                            [value]="option.value">
                                            {{option.text}}
                                        </mat-option>
                                        <mat-option [value]="null" disabled
                                            *ngIf="fieldOptions[field.fieldName].length === 0 && form.get(field.fieldName+'_search')?.value && !isDropDownLoading">No
                                            data found</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field *ngSwitchCase="'datetime'" class="input-form-field" appearance="fill">
                                    <mat-label *ngIf="!field.icon">{{field.label}}</mat-label>
                                    <span *ngIf="field.icon" matTextPrefix matTooltip={{field.label}}>
                                        <i class="fas {{field.icon}} list-label-icon mr10"></i>
                                    </span>
                                    <input matInput [formControlName]="field.fieldName" [matDatepicker]="picker"
                                        placeholder="{{field.icon?field.label:'MM/DD/YYYY'}}">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>

                                <div *ngSwitchCase="'boolean'" class="input-form-field mat-mdc-form-field">
                                    <div class="mdc-text-field">
                                        <span *ngIf="field.icon" matTextPrefix matTooltip={{field.label}}>
                                            <i class="fas {{field.icon}} list-label-icon mr10"></i>
                                        </span>
                                        <mat-checkbox class="mat-check-box-field" [formControlName]="field.fieldName">
                                            <mat-label *ngIf="!field.icon">{{field.label}}</mat-label>
                                        </mat-checkbox>
                                    </div>
                                    <div style="height: 22px;"></div>
                                </div>

                                <div *ngSwitchCase="'radio'" class="input-form-field" appearance="fill">
                                    <mat-label *ngIf="!field.icon">{{field.label}}</mat-label>
                                    <span *ngIf="field.icon" matTextPrefix matTooltip={{field.label}}>
                                        <i class="fas {{field.icon}} list-label-icon mr10"></i>
                                    </span>
                                    <mat-radio-group name="field.fieldName" [formControlName]="field.fieldName">
                                        <mat-radio-button *ngFor="let option of fieldOptions[field.fieldName]"
                                            [value]="option.value">{{ option.text }}</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="filter-bottom">
                        <div class="btn-wrapper">
                            <button mat-button class="ec-primary-btn" (click)="onSearch()" type="submit">Search</button>
                            <button mat-button class="ec-cancel-btn" (click)="showFilterPanel=false">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
    <div class="list-sec-scroll-wrapper" (scrollend)='onScroll()' #scrollWrapper>
        <div class="patient-list-box">
            <div *ngIf="mappedData && mappedData.length > 0; else noDataFoundSection">
                <a href="javascript:void(0)" class="list-card-item patient-list-item"
                    *ngFor="let record of mappedData; let i=index;" (click)="previewSpecificRecord(i)"
                    [ngClass]="{'card-active': i===selectedIndex}" id="div-{{i}}">
                    <div class="list-card-item-content flex-nowrap">
                        <div class="d-flex justify-content-between align-items-start w-100 mb-2">
                            <div class="col tuncate-text">
                                <ng-container *ngFor="let title of record.cardTitle?.fields">
                                    <h4 *ngIf="title.value" #listCardTitle matTooltip="{{title.value}}"
                                        [matTooltipDisabled]="isTooltipDisabled(listCardTitle)"
                                        class="font-title-medium list-title-header">{{
                                        title.value }}
                                    </h4>
                                </ng-container>
                            </div>
                            <div class="col-auto">
                                <div class="action-button-container">
                                    <button mat-icon-button [matMenuTriggerFor]="action" class="action-button">
                                        <mat-icon aria-label="action" matTooltip="Action">more_vert</mat-icon>
                                    </button>
                                    <mat-menu #action="matMenu">
                                        <button mat-menu-item class="mat-menu-button"
                                            (click)="editRecordById(record.id)">
                                            <svg width="15" height="13" viewBox="0 0 15 13" fill="#000000de"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0)">
                                                    <path
                                                        d="M10.2223 2.11289L12.5125 4.40312C12.609 4.49961 12.609 4.65703 12.5125 4.75352L6.96719 10.2988L4.61094 10.5604C4.29609 10.5959 4.02949 10.3293 4.06504 10.0145L4.32656 7.6582L9.87187 2.11289C9.96836 2.01641 10.1258 2.01641 10.2223 2.11289ZM14.3355 1.53145L13.0965 0.292383C12.7105 -0.0935547 12.0834 -0.0935547 11.6949 0.292383L10.7961 1.19121C10.6996 1.2877 10.6996 1.44512 10.7961 1.5416L13.0863 3.83184C13.1828 3.92832 13.3402 3.92832 13.4367 3.83184L14.3355 2.93301C14.7215 2.54453 14.7215 1.91738 14.3355 1.53145ZM9.75 8.79063V11.3754H1.625V3.25039H7.45977C7.54102 3.25039 7.61719 3.21738 7.67559 3.16152L8.69121 2.1459C8.88418 1.95293 8.74707 1.62539 8.47539 1.62539H1.21875C0.545898 1.62539 0 2.17129 0 2.84414V11.7816C0 12.4545 0.545898 13.0004 1.21875 13.0004H10.1562C10.8291 13.0004 11.375 12.4545 11.375 11.7816V7.775C11.375 7.50332 11.0475 7.36875 10.8545 7.55918L9.83887 8.57481C9.78301 8.6332 9.75 8.70938 9.75 8.79063Z"
                                                        fill="#99a1b7" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0">
                                                        <rect width="14.625" height="13" fill="white" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                            Edit
                                        </button>
                                        <button mat-menu-item class="mat-menu-button"
                                            (click)="confirmDelete(record.id)">
                                            <mat-icon aria-label="Delete">close</mat-icon>
                                            Delete
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                        </div>
                        <div class="row status-area">
                            <ng-container *ngFor="let detail of record.cardDetail?.fields">
                                <div *ngIf="detail.value"
                                    class="pb-2 col-md-{{(detail.column && detail.column > 0 && detail.column <= 4) ? (detail.column * 3) : 12}}"
                                    [ngClass]="!detail.icon ? 'd-flex flex-column' : ''" style="color: var(--color-4);">
                                    <span *ngIf="!detail.icon" #listLabel matTooltip={{detail.label}}
                                        [matTooltipDisabled]="isTooltipDisabled(listLabel)"
                                        class="font-body-medium text-truncate list-info-label me-1">{{
                                        detail.label }}</span>
                                    <i *ngIf="detail.icon" class="fas {{detail.icon}} list-label-icon me-2"></i>
                                    <span class="font-body-medium list-info-text text-truncate fw-normal" #listValue
                                        matTooltip={{detail.value}}
                                        [matTooltipDisabled]="isTooltipDisabled(listValue)">{{
                                        detail.value }}</span>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </a>
                <div class="d-grid gap-2 load-more-container" *ngIf="isLoadMore">
                    <button class="btn btn-light" type="button" (click)="onLoadButtonClick()" *ngIf="isLoadMore">
                        {{ !isLoading ? 'Load more' : 'Loading ...' }}</button>
                </div>
            </div>
            <ng-template #noDataFoundSection>
                <div class="no-data-state no-data-state-list-box">
                    <img class="no-data-state-img" src="assets/images/icons/no-data-found.svg" width="150" height="150"
                        alt="No data available" />
                    <p class="text-no-data">No data available.</p>
                </div>
            </ng-template>
        </div>
    </div>
</div>