.main-layout {
  display: flex;
  flex-wrap: wrap;

  .main-navber-box {
    min-width: 74px;
    max-width: 74px;
  }

  .main-content-area {
    min-width: 0;
    flex: 1 1 0;

    .wrapper {
      overflow: auto;
      height: calc(100vh - 70px);
    }
  }
}