<header>

  <div class="navbar-header">
    <div class="d-flex"></div>
    <div class="d-flex align-items-center">
      <nav>
        <ul class="navbar-links">
          <!-- <li class="navbar-dropdown">
            <div class="navbar-icon">
              <img alt="" src="../../assets/images/flags/us.svg" class="flag-icon">
            </div>
            <div class="dropdown">
              <a href="#"><img alt="" src="../../assets/images/flags/us.svg" class="flag-icon"> English</a>
              <a href="#"><img alt="" src="../../assets/images/flags/spain.svg" class="flag-icon"> Espa?ola</a>
              <a href="#"><img alt="" src="../../assets/images/flags/germany.svg" class="flag-icon"> Deutsche</a>
              <a href="#"><img alt="" src="../../assets/images/flags/italy.svg" class="flag-icon"> Italiana</a>
              <a href="#"><img alt="" src="../../assets/images/flags/russia.svg" class="flag-icon"> ???????</a>
              <a href="#"><img alt="" src="../../assets/images/flags/china.svg" class="flag-icon"> ???</a>
              <a href="#"><img alt="" src="../../assets/images/flags/french.svg" class="flag-icon"> Fran?ais</a>
              <a href="#"><img alt="" src="../../assets/images/flags/ae.svg" class="flag-icon"> Arabic</a>
            </div>
          </li> -->
          <li class="navbar-dropdown">
            <div class="navbar-icon">
              <i class="fa-solid fa-sun"></i>
            </div>
          </li>
          <li class="navbar-dropdown">
            <div class="navbar-icon">
              <i class="fa-solid fa-bell"></i>
              <div class="circular-badge">3</div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</header>