// for native table default custom style
.custom-table {
    width: 100%;
    vertical-align: middle;
    border-collapse: separate;
    margin-bottom: 0;

    .table-title {
        text-align: center;
    }

    td {
        padding: 8px 10px;
    }

    th {
        min-width: 110px;
        padding: 8px 16px;
    }

    th,
    td {
        border-top: 1px solid #e4e4e4;
        border-left: 1px solid #e4e4e4;

        &:last-child,
        &:last-child {
            border-right: 1px solid #e4e4e4;
        }
    }

    th:last-child {
        border-radius: 0 10px 0 0;
    }

    tr {

        &:last-child td,
        &:last-child th {
            border-bottom: 1px solid #e4e4e4;
        }

        &:first-child {
            th:first-child {
                border-radius: 10px 0 0 0;
            }
        }

        &:last-child {
            th {
                border-radius: 0 0 0 10px;
            }

            td:last-child {
                border-radius: 0 0 10px 0;
            }
        }
    }
}