.warning-container {
  display: flex;
  align-items: flex-start;

  .warning-content {
    flex: 1 1 0;
  }
}

.dialog-form-controls {
  margin-top: 30px;

  .mat-mdc-button {
    &+.primary-btn-border {
      margin-left: 10px;
    }
  }
}

.dialog-header {
  margin-bottom: 12px;

  &-text {
    margin-right: 25px;
  }

  .mat-mdc-icon-button {
    margin-bottom: auto;
  }
}

.warning-msg {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-3);

  &:first-child {
    margin-bottom: 6px;
  }
}

.message-icon,
.warning-icon {
  display: flex;
  justify-content: center;
  background: transparent;
  font-size: 30px;
  margin-right: 16px;
  margin-top: 3px;
}

.warning-icon {
  color: #ffa800;
}