.main-left-list-sec {
  //background-color: var(--main-bg);
  width: 100%;
  min-width: 445px;
  // max-width: 445px;
  // height: 100vh;
  padding: 25px 0 0 25px;
  border-right: 1px solid var(--border-color-dark);

  @include desktop-xl {
    min-width: 350px;
    // max-width: 350px;
    padding: 0 0 0 25px;
  }

  .list-sec-top-bar {
    margin-bottom: 15px;
  }

  .search-box-sec {
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 11;

    .search-box {
      max-width: calc(100% - 25px);

      @include desktop-xl {
        max-width: calc(100% - 20px);
      }
    }

    .adv-search-menu .search-btn-box {
      margin-top: 32px;
    }
  }

  .list-sec-scroll-wrapper {
    width: calc(100% + $customScrollSize);
    height: calc(100% - 157px);
    overflow-y: scroll;
    overflow-x: hidden;
    @include custom-scroll;

    @include desktop-xl {
      width: calc(100% + 9px);
    }
  }

  .load-more-wrapper {
    max-width: calc(100% - 35px);
  }

  .list-card-item {
    background: $white;
    display: flex;
    // max-width: calc(100% - 25px);
    max-width: 392px;
    padding: 10px 20px;
    border: 1px solid $border-color;
    // box-shadow: 0 1px 2px rgba(56, 65, 74, 0.05);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    margin-right: 24px;
    margin-bottom: 15px;
    transition-duration: 0.4s;
    transition-property: background-color, border-color;
    cursor: pointer;

    // @include desktop-xl {
    //   max-width: calc(100% - 20px);
    //   margin-right: 20px;
    // }

    &.card-active {
      margin-right: 25px;
      // max-width: 100%;
      border: 1px solid $primary-color-lighter;
      box-shadow: rgba(138, 197, 255, 0.25) 0px 6px 12px -2px, rgba(138, 197, 255, 0.3) 0px 3px 7px -3px;
      // border-color: var(--primary-color);
      // border-right-color: transparent;

      // .list-card-item-content {
      //   max-width: calc(100% - 80px);

      //   @include desktop-xl {
      //     max-width: calc(100% - 65px);
      //   }
      // }
    }

    &-content {
      width: 100%;
      min-width: 0;
      flex: 1 1 0;
    }
  }
}