.price-summary-box {
  background-color: var(--main-bg);
  padding: 10px 14px 14px 14px;
  border-top: 1px solid var(--border-color-light);
}

.price-summary-list {
  .list-item {
    &+.list-item {
      margin-top: 12px;
    }
  }

  .summary-no {
    min-width: 100px;
    text-align: right;
    margin-left: 25px;
  }
}