// added badge style for current visit components
// -- Created to make all the added(view) tab-badge style common style -- //

:host {
    .added-badge-items {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 0 -10px -10px;

        .badge-item {
            background: var(--bg-secondary);
            font-weight: 400;
            font-size: 13px;
            line-height: 14px;
            color: var(--primary-black);
            padding: 4px 10px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            margin: 0 0 10px 10px;

            &-high {
                background: var(--bg-color-3);
                color: var(--highlight-color);
            }

            &-box {
                position: relative;

                .tab-badge-tooltip-box {
                    left: 10px;
                    min-width: 260px;
                    max-width: 45vw;
                    width: max-content;
                    white-space: nowrap;

                    &-right {
                        left: auto;
                        right: 0;
                    }

                    .comp-text {
                        max-width: 190px;
                        white-space: normal;
                    }

                    .item-right {
                        @include truncate;
                    }
                }

                &:hover {
                    .tab-badge-tooltip-box {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}