<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
      name="mainlog"
      internalLogLevel="info"
      internalLogFile="C:\logs\newUserdefine1\nlog-internal.txt">

  <variable name="logDirectory" value="C:\logs\newUserdefine1\" />
  <variable name="blobName" value="logs/CodeZen" />

  <targets async="true">
    <target name="Trace" xsi:type="AzureBlobStorage" blobName="${blobName}/Trace_WebApp_${shortdate}.json" container="codezen-test"
      connectionString="DefaultEndpointsProtocol=https;AccountName=easyclinicbackup;AccountKey=IstT8Fl34npB1wKj5tfHkqu9oIcY+p0q0N+2VhIwOb9IutWiufBlzVP6gQZDIZCuVseznWFRod+1/QsYq9FFjw==;EndpointSuffix=core.windows.net">
      <layout type="CompoundLayout">
        <layout xsi:type="JsonLayout">
          <attribute name="logger" layout="${logger}"/>
          <attribute name="time" layout="${longdate}"/>
          <attribute name="level" layout="${level:upperCase=true}"/>
          <attribute name="message" layout="${message}"/>
          <attribute name="request" layout="${mdlc:item=request}"/>
          <attribute name="response" layout="${mdlc:item=response}"/>
        </layout>
        <layout type="SimpleLayout" text=","/>
      </layout>
    </target>
    <target name="Debug" xsi:type="AzureBlobStorage" blobName="${blobName}/Debug_WebApp_${shortdate}.json" container="codezen-test"
      connectionString="DefaultEndpointsProtocol=https;AccountName=easyclinicbackup;AccountKey=IstT8Fl34npB1wKj5tfHkqu9oIcY+p0q0N+2VhIwOb9IutWiufBlzVP6gQZDIZCuVseznWFRod+1/QsYq9FFjw==;EndpointSuffix=core.windows.net">
      <layout type="CompoundLayout">
        <layout xsi:type="JsonLayout">
          <attribute name="logger" layout="${logger}"/>
          <attribute name="time" layout="${longdate}"/>
          <attribute name="level" layout="${level:upperCase=true}"/>
          <attribute name="message" layout="${message}"/>
          <attribute name="request" layout="${mdlc:item=request}"/>
          <attribute name="response" layout="${mdlc:item=response}"/>
        </layout>
        <layout type="SimpleLayout" text=","/>
      </layout>
    </target>
    <target name="Info" xsi:type="AzureBlobStorage" blobName="${blobName}/Info_WebApp_${shortdate}.json" container="codezen-test"
      connectionString="DefaultEndpointsProtocol=https;AccountName=easyclinicbackup;AccountKey=IstT8Fl34npB1wKj5tfHkqu9oIcY+p0q0N+2VhIwOb9IutWiufBlzVP6gQZDIZCuVseznWFRod+1/QsYq9FFjw==;EndpointSuffix=core.windows.net">
      <layout type="CompoundLayout">
        <layout xsi:type="JsonLayout">
          <attribute name="logger" layout="${logger}"/>
          <attribute name="time" layout="${longdate}"/>
          <attribute name="level" layout="${level:upperCase=true}"/>
          <attribute name="message" layout="${message}"/>
          <attribute name="request" layout="${mdlc:item=request}"/>
          <attribute name="response" layout="${mdlc:item=response}"/>
        </layout>
        <layout type="SimpleLayout" text=","/>
      </layout>
    </target>
    <target name="Error" xsi:type="AzureBlobStorage" blobName="${blobName}/Error_WebApp_${shortdate}.json" container="codezen-test"
      connectionString="DefaultEndpointsProtocol=https;AccountName=easyclinicbackup;AccountKey=IstT8Fl34npB1wKj5tfHkqu9oIcY+p0q0N+2VhIwOb9IutWiufBlzVP6gQZDIZCuVseznWFRod+1/QsYq9FFjw==;EndpointSuffix=core.windows.net">
      <layout type="CompoundLayout">
        <layout xsi:type="JsonLayout">
          <attribute name="logger" layout="${logger}"/>
          <attribute name="time" layout="${longdate}"/>
          <attribute name="level" layout="${level:upperCase=true}"/>
          <attribute name="message" layout="${message}"/>
          <attribute name="exception" encode="false">
            <layout xsi:type="JsonLayout">
              <attribute name="type" layout="${exception:format=type}"/>
              <attribute name="message" layout="${exception:format=message}"/>
              <attribute name="exception" layout="${exception:format=tostring}"/>
              <attribute name="stacktrace" layout="${stacktrace}"/>
            </layout>
          </attribute>
          <attribute name="request" layout="${mdlc:item=request}"/>
          <attribute name="response" layout="${mdlc:item=response}"/>
        </layout>
        <layout type="SimpleLayout" text=","/>
      </layout>
    </target>
    <target name="Critical" xsi:type="AzureBlobStorage" blobName="${blobName}/Critical_WebApp_${shortdate}.json" container="codezen-test"
      connectionString="DefaultEndpointsProtocol=https;AccountName=easyclinicbackup;AccountKey=IstT8Fl34npB1wKj5tfHkqu9oIcY+p0q0N+2VhIwOb9IutWiufBlzVP6gQZDIZCuVseznWFRod+1/QsYq9FFjw==;EndpointSuffix=core.windows.net">
      <layout type="CompoundLayout">
        <layout xsi:type="JsonLayout">
          <attribute name="logger" layout="${logger}"/>
          <attribute name="time" layout="${longdate}"/>
          <attribute name="level" layout="${level:upperCase=true}"/>
          <attribute name="message" layout="${message}"/>
          <attribute name="request" layout="${mdlc:item=request}"/>
          <attribute name="response" layout="${mdlc:item=response}"/>
        </layout>
        <layout type="SimpleLayout" text=","/>
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" level="Trace" writeTo="Trace" enabled="false" />
    <logger name="*" level="Debug" writeTo="Debug" enabled="true" />
    <logger name="*" level="Info" writeTo="Info" enabled="false" />
    <logger name="*" level="Error" writeTo="Error" enabled="true" />
    <logger name="*" level="Fatal" writeTo="Critical" enabled="true"/>
  </rules>
  <extensions>
    <add assembly="NLog.Extensions.AzureStorage"/>
  </extensions>
</nlog>